:root {
    --margin: 25px;
    --padding-borderRadius-input: 6.25px;
    --padding-borderRadius-button: 12.5px;
    --heading: 24px;
    --subHeading: 20px;
    --paragraph: 16px;
    --subParagraph: 12px;
    --thin: 100;
    --extraLight: 200;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semiBold: 600;
    --bold: 700;
    --extraBold: 800;
    --black: 900;
    --color1: #F0EFF4;
    --color2: #58641D;
    --color3: #A22522;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
body, form, h1, label, input, button {
    all: unset;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--paragraph);
    font-weight: var(--regular);
    color: var(--color1);
    background-color: var(--color2);
}

h1 {
    font-size: var(--heading);
    font-weight: var(--extraBold);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    align-self: flex-start;
    margin-top: var(--margin);
    font-size: var(--subHeading);
    font-weight: var(--semiBold);
}

input {
    width: 250px;
    padding: var(--padding-borderRadius-input);
    border-radius: var(--padding-borderRadius-input);
    color: var(--color2);
    background-color: var(--color1);
}

button {
    width: 100px;
    margin-top: var(--margin);
    padding: var(--padding-borderRadius-button);
    border-radius: var(--padding-borderRadius-button);
    text-align: center;
    color: var(--color1);
    background-color: var(--color3);
}