<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Login</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/7dee9b0f32.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="styles/styles login.css">
    </head>
    <body>
        <h1>
            Admin Login
        </h1>
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your username..." required>
        
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password..." required>
        
            <button type="submit">Login</button>
        </form>
        <script src="functions/functions login.js"></script>
    </body>
</html>