<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/menustyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
        const menu_path = "{{ url_for('static', filename='data/Menu.json') }}";
    </script>
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <title>Menu</title>
</head>

<body>
    <div id="container">
        <div id="header">
            <div id="header-left">
                <img src="../static/img/logo.png" alt="Logo">
                <h1>Menu</h1>
                
            </div>
            <div id="header-right">

                <button type="button" onclick="window.location.href = '/login'">Login</button>
                <button type="button" id="signup-button" onclick="window.location.href = '/register'">Signup</button>
            </div>
        </div>
        
    </div>
    <div id="content">
        <div id="sidebar">
            <button type="button" id="back-button" onclick="window.location.href = '/'">
                <i class="fa-solid fa-chevron-left"></i> Back
            </button>
        </div>
    </div>
    <article>
    
    </article>


</body>

</html>