<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/register.css">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>

    <form action="/register" method="post">
        <label>Name:</label><br>
        <input type="text" name="username"><br><br>
        
        <label>Password:</label><br>
        <input type="password" name="password"><br><br><br>

        <label>E-mail:</label><br>
        <input type="email" name="email"><br><br><br>

        <a href="/">You have an account?</a>
        <input type="submit" value="Register"></input>
    </form>

    
</body>
</html>