<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Take-out</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/7dee9b0f32.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../static/css/styles_take-out.css">
        <link rel="icon" href="../static/img/logo.png">
        <script src="blhElements/blhElements.js"></script>
    </head>
    <body>
        <div id="container">
            <div id="header">
                <div id="header-left">
                    <img src="../static/img/logo.png">
                    <h1>
                        Take-out
                    </h1>
                </div>
                <div id="header-right">
                    <button type="button" onclick="window.location.href = '#Login'">
                        Login
                    </button>
                    <button type="button" id="signup-button" onclick="window.location.href = '#Signup'">
                        Signup
                    </button>
                </div>
            </div>
            <div id="pizza-editting-modal-aligner">
                <div id="pizza-editting-modal">
                    <h2>
                        Edit {pizza choice}
                    </h2>
                    <form action="#" id="pizza-editting-form">
                        <div id="ingredients-group">
                            <div class="ingredient" id="ingredient-">
                                <p>
                                    {Ingredient Name}
                                </p>
                                <blh-counter
                                    blh-counter-input-placeholder="1"
                                    blh-counter-input-minimum="0"
                                    blh-counter-input-maximum="10"
                                    blh-counter-input-step="1"
                                    blh-counter-color="#58641D"
                                    blh-counter-active-color="#F0EFF4"
                                    blh-counter-background-color="transparent"
                                    blh-counter-active-background-color="#58641D"
                                ></blh-counter>
                            </div>
                            <div class="ingredient" id="ingredient-">
                                <p>
                                    {Ingredient Name}
                                </p>
                                <blh-counter
                                    blh-counter-input-placeholder="1"
                                    blh-counter-input-minimum="0"
                                    blh-counter-input-maximum="10"
                                    blh-counter-input-step="1"
                                    blh-counter-color="#58641D"
                                    blh-counter-active-color="#F0EFF4"
                                    blh-counter-background-color="transparent"
                                    blh-counter-active-background-color="#58641D"
                                ></blh-counter>
                            </div>
                            <div class="ingredient" id="ingredient-">
                                <p>
                                    {Ingredient Name}
                                </p>
                                <blh-counter
                                blh-counter-input-placeholder="1"
                                blh-counter-input-minimum="0"
                                blh-counter-input-maximum="10"
                                blh-counter-input-step="1"
                                blh-counter-color="#58641D"
                                blh-counter-active-color="#F0EFF4"
                                blh-counter-background-color="transparent"
                                blh-counter-active-background-color="#58641D"
                            ></blh-counter>
                            </div>
                            <div class="ingredient" id="ingredient-">
                                <p>
                                    {Ingredient Name}
                                </p>
                                <blh-counter
                                    blh-counter-input-placeholder="1"
                                    blh-counter-input-minimum="0"
                                    blh-counter-input-maximum="10"
                                    blh-counter-input-step="1"
                                    blh-counter-color="#58641D"
                                    blh-counter-active-color="#F0EFF4"
                                    blh-counter-background-color="transparent"
                                    blh-counter-active-background-color="#58641D"
                                ></blh-counter>
                            </div>
                        </div>
                        <button type="submit" id="save-button" onclick="closeModal()">
                            Save Changes
                        </button>
                    </form>
                </div>
            </div>
            <div id="content">
                <div id="sidebar">
                    <button type="button" id="back-button" onclick="window.location.href = '#Back'">
                        <i class="fa-solid fa-chevron-left"></i>
                        Back
                    </button>
                </div>
                <div id="main-content">
                    <form action="/take-out" id="take-out-form" method="post">
                        <div id="name-input">
                            <Label for="name">
                                <h3>
                                    Name:
                                </h3>
                            </Label>
                            <input type="text" id="name" name="name" placeholder="Enter your name...">
                        </div>
                        <div id="pizza-choice-input">
                            <Label for="pizza-choice">
                                <h3>
                                    Choose Pizza:
                                </h3>
                            </Label>
                            <div id="pizza-choice-group">
                                <i class="fa-solid fa-pencil" onclick="openModal()"></i>
                                <select id="pizza-choice" name="pizza-choice">
                                    <option value="1">{pizza choice}</option>
                                    <option value="2">{pizza choice}</option>
                                    <option value="3">{pizza choice}</option>
                                    <option value="4">{pizza choice}</option>
                                </select>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <div id="pizza-edits"></div>
                        </div>
                        <div id="add-more-input">
                            <button type="button" onclick="window.location.href = '#Add More'">
                                <i class="fa-solid fa-plus"></i>
                                Add more
                            </button>
                        </div>
                        <div id="billing-address-input">
                            <Label for="billing-address">
                                <h3>
                                    Billing Address:
                                </h3>
                            </Label>
                            <input type="text" id="billing-address" name="billing-address" placeholder="Enter your billing address...">
                        </div>
                        <div id="take-out-time-input">
                            <Label for="take-out-time">
                                <h3>
                                    Take-out Time:
                                </h3>
                            </Label>
                            <div id="take-out-time-group">
                                <select id="take-out-time" name="take-out-time"></select>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                        <div id="total-amount-checkout-button">
                            <span>
                                Total: €
                                <span>
                                    0,00
                                </span>
                            </span>
                            <button id="checkout-button" type="submit">
                                Checkout
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="../static/js/functions_shared.js"></script>
        <script src="../static/js/functions_take-out.js"></script>
    </body>
</html>