<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BLHElements</title>
        <link rel="stylesheet" href="styles.css">
        <script src="blhElements.js"></script>
        <script src="functions.js"></script>
    </head>
    <body>
        <blh-button
            blh-button-image-position="top"
            blh-button-image="fa-solid fa-chevron-up"
            blh-button-text="..."
            blh-button-color="#000"
            blh-button-active-color="#fff"
            blh-button-background-color="transparent"
            blh-button-active-background-color="#000"
            blh-button-target="#"
        ></blh-button>
        <blh-search
            blh-search-input-image-position="left"
            blh-search-input-image="fa-solid fa-search"
            blh-search-input-align="right"
            blh-search-input-placeholder="..."
            blh-search-button-position="right"
            blh-search-button-image-position="left"
            blh-search-button-image="fa-solid fa-search"
            blh-search-button-text="..."
            blh-search-color="#000"
            blh-search-active-color="#fff"
            blh-search-background-color="transparent"
            blh-search-active-background-color="#000"
            blh-search-button-target="#"
        ></blh-search>
        <blh-counter
            blh-counter-input-placeholder="..."
            blh-counter-input-minimum="0"
            blh-counter-input-maximum="10"
            blh-counter-input-step="1"
            blh-counter-color="#000"
            blh-counter-active-color="#fff"
            blh-counter-background-color="transparent"
            blh-counter-active-background-color="#000"
        ></blh-counter>
        <blh-group
            blh-group-orientation="horizontal"
            blh-group-spacing="6px"
        >
            
        </blh-group>
    </body>
</html>