* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
body {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 6px;
}

